[submodule "thirdparties/json"]
	path = thirdparties/json
	url = https://github.com/nlohmann/json
[submodule "thirdparties/TFHEpp"]
	path = thirdparties/TFHEpp
	url = https://github.com/virtualsecureplatform/TFHEpp
[submodule "thirdparties/taskflow"]
	path = thirdparties/taskflow
	url = https://github.com/taskflow/taskflow
