[submodule "thirdparties/json"]
	path = thirdparties/json
	url = https://github.com/nlohmann/json
[submodule "thirdparties/taskflow"]
	path = thirdparties/taskflow
	url = https://github.com/taskflow/taskflow
[submodule "thirdparties/oveus-tfhe"]
	path = thirdparties/oveus-tfhe
	url = https://github.com/axell-corp/oveus-tfhe
[submodule "test/aes/aes-verilog"]
	path = test/aes/aes-verilog
	url = https://github.com/virtualsecureplatform/aes-verilog.git
